root = true

[*]
end_of_line = lf
charset = utf-8
max_line_length = 80

[{M,m}akefile,*.mk]
indent_style = tab

[*.vim]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

[*.el]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

